<template>
  <v-app>
    <v-app-bar
      app
      color="green darken-1"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-3"
          contain
          src="./assets/planet.png"
          transition="scale-transition"
          width="50"
        />

        <v-toolbar-title>Planet Express</v-toolbar-title>
      </div>

      <v-spacer></v-spacer>

      <v-bnt @click="logout()">
        <v-icon>mdi-logout</v-icon>
      </v-bnt>

    </v-app-bar>

    <v-content class="content">
      <router-view></router-view>
    </v-content>


  </v-app>
</template>

<script>
  import VueCookies from 'vue-cookies'

  export default {
  name: 'App',
  data: () => ({
    //
  }),
  methods: {
    logout() {
      VueCookies.remove('token', '/', this.$domain);
      this.$router.push("login");
    }
  }

};
</script>
<style scoped>
</style>
