<template>
    <v-data-table
            :headers="headers"
            :items="data"
            :items-per-page="10"
            class="elevation-1"
    ><template v-slot:item.img="{ item }">
            <v-img :src="item.img" dark contain height="100px"></v-img>
        </template>
    </v-data-table>
</template>

<script>
    import VueCookies from 'vue-cookies'
    import axios from 'axios'

    export default {
        name: "NewDeleveries",
        data () {
            return {
                headers: [
                    {
                        text: 'Photo',
                        value: 'img'
                    },
                    {
                        text: 'Name',
                        value: 'name'
                    },
                    {
                        text: 'Age',
                        value: 'age'
                    },
                    {
                        text: 'Birth',
                        value: 'birth'
                    },
                    {
                        text: 'Species',
                        value: 'species'
                    },
                    {
                        text: 'Planet of Origin',
                        value: 'planetOrigin'
                    },
                    {
                        text: 'Profession',
                        value: 'profession'
                    },


                ],
                loaded: false,
                data: []
            }
        },
        computed:{
            token () {
                return VueCookies.get('token')
            },
        },
        methods: {
            request() {
                axios.get('http://hr-api.docker.local/', { headers: { Authorization: `Bearer ${this.token}` }})
                    .then(({data})=> {
                        this.loaded = true
                        this.data = data
                    })
            }
        },
        mounted() {
            this.request()
        }
    }

</script>

<style scoped>

</style>
