<template>
  <v-app id="inspire">
    <v-content>
      <v-container
              class="fill-height"
              fluid

      >
        <v-row
                align="center"
                justify="center"
        >
          <v-col
                  cols="12"
                  sm="8"
                  md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                      color="green darken-1"
                      dark
                      flat
              >
                <v-toolbar-title>Login</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-row align="center" justify="center">
              </v-row>
              <v-card-text>
                <v-form>
                  <v-text-field
                          label="Login"
                          name="login"
                          prepend-icon="person"
                          type="text"
                          v-model="form.username"
                  />

                  <v-text-field
                          id="password"
                          label="Password"
                          name="password"
                          prepend-icon="lock"
                          type="password"
                          v-model="form.password"
                          v-on:keyup.enter="requestAuthentication"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions @click="requestAuthentication">
                <v-spacer />
                <v-btn color="green darken-1">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
    <div class="text-center ma-2" >
      <v-snackbar v-model="status.failed" color="error" timeout="4000">
        Failed authentication
      </v-snackbar>
      <v-snackbar v-model="status.error" color="error" timeout="4000">
        Error while trying to connect
      </v-snackbar>
    </div>
  </v-app>
</template>

<script>

  import VueCookies from 'vue-cookies'

export default {
  name: 'Login',

  data: () => ({
    form: {
      username: "",
      password: ""
    },
    status: {
      failed: false
    },
  }),

  methods: {
    requestAuthentication() {
      this.$axios
              .post(this.$backend + '/login', this.form)
              .then(response=> {
                VueCookies.set('token', response.data.token, '4h', '/', this.$domain)
                this.redirectHome()
              })
              .catch(err => (err.response.status === 401) ? this.showStatusFailed() : this.showStatusError)

    },
    showStatusFailed() {
      this.status.failed = true
    },
    showStatusError() {
      this.status.error = true
    },
    redirectHome() {
      this.$router.push('/dashboard')
    }
  },
  mounted() {
    if (VueCookies.isKey('token')) this.redirectHome()
  }
};
</script>
