<template>
  <div class="home">
    <NewDeleveries/>
  </div>
</template>

<script>
// @ is an alias to /src

import NewDeleveries from "../components/NewDeleveries";
export default {
  name: 'home',
  components: {
    NewDeleveries
  }
}
</script>
