<template>
    <div class="dash">
        <h1 style="text-align: center">Welcome {{tokenPublic.name}}</h1>

        <v-row dense style="padding-left: 10px; padding-right: 10px">

            <v-col cols="6">
                <v-card
                        color="deep-purple lighten-2"
                        dark
                        @click="redirect('deliveries-ui')"
                >

                    <v-img
                            src="../assets/ship.png"
                            class="white--text align-end"
                            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                            height="200px"
                            contain
                    >
                    </v-img>

                    <v-card-title class="headline">Deliveries</v-card-title>

                    <v-card-subtitle>Check out your next deliveries</v-card-subtitle>

                </v-card>
            </v-col>

            <v-col cols="6">
                <v-card
                        color="blue lighten-2"
                        dark
                        @click="redirect('hr-ui')"
                >

                    <v-img
                            src="../assets/team.png"
                            class="white--text align-end"
                            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                            height="200px"
                    >
                    </v-img>

                    <v-card-title class="headline">HR</v-card-title>

                    <v-card-subtitle>Manage the team</v-card-subtitle>

                </v-card>
            </v-col>



        </v-row>




        <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
            <template v-slot:activator="{ on }">

                <v-footer
                        absolute
                        dark
                        class="font-weight-medium"
                >
                    <v-col
                            class="text-center"
                            cols="12">

                        <v-btn color="blue" dark v-on="on">What's in my token ?</v-btn>
                    </v-col>


                </v-footer>


            </template>
            <v-card>
                <v-toolbar dark color="black">
                    <v-btn icon dark @click="dialog = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title>Review Token</v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-toolbar>
                <v-list three-line subheader>
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title>Raw Token</v-list-item-title>
                            <v-list-item-subtitle>{{token}}</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
                <v-divider></v-divider>
                <v-list three-line subheader>
                    <v-subheader>HEADER</v-subheader>
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title>Encoded</v-list-item-title>
                            <v-list-item-subtitle>{{token.split('.')[0]}}</v-list-item-subtitle>
                        </v-list-item-content>
                        <v-list-item-content>
                            <v-list-item-title>Decoded</v-list-item-title>
                            <v-list-item-subtitle>{{this.decode(token.split('.')[0])}}</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>

                <v-divider></v-divider>
                <v-list three-line subheader>
                    <v-subheader>PAYLOAD</v-subheader>
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title>Encoded</v-list-item-title>
                            <v-list-item-subtitle>{{token.split('.')[1]}}</v-list-item-subtitle>
                        </v-list-item-content>
                        <v-list-item-content>
                            <v-list-item-title>Decoded</v-list-item-title>
                            <v-list-item-subtitle>{{this.decode(token.split('.')[1])}}</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>

                <v-divider></v-divider>
                <v-list three-line subheader>
                    <v-subheader>SIGNATURE</v-subheader>
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title>Data</v-list-item-title>
                            <v-list-item-subtitle>{{token.split('.')[2]}}</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-dialog>


    </div>
</template>

<script>

    import VueCookies from 'vue-cookies'


    export default {
        name: "Dashboard",
        data() {
            return {
                dialog: false
            }
        },
        computed: {
            token () {
                return VueCookies.get('token')
            },
            tokenPublic () {
                return JSON.parse(Buffer.from(this.token.split('.')[1], 'base64').toString())
            }
        },
        methods: {
            decode(base64) {
                return JSON.parse(Buffer.from(base64, 'base64').toString())
            },
            redirect(ui){
                window.location.href = "http://" + ui + ".docker.local"
            }
        }

    }




</script>

<style scoped>

</style>
