<template>
    <v-data-table
            :headers="headers"
            :items="data"
            :items-per-page="10"
            class="elevation-1"
    ></v-data-table>
</template>

<script>
    import VueCookies from 'vue-cookies'
    import axios from 'axios'

    export default {
        name: "NewDeleveries",
        data () {
            return {
                headers: [
                    {
                        text: 'Destination',
                        value: 'at'
                    },
                    {
                        text: 'Receiver',
                        value: 'to'
                    },
                    {
                        text: 'Content',
                        value: 'content'
                    },
                    {
                        text: 'Crew',
                        value: 'crew'
                    }

                ],
                loaded: false,
                data: []
            }
        },
        computed:{
            token () {
                return VueCookies.get('token')
            },
        },
        methods: {
            request() {
                axios.get('http://deliveries-api.docker.local/', { headers: { Authorization: `Bearer ${this.token}` }})
                    .then(({data})=> {
                        this.loaded = true
                        this.data = data
                    })
            }
        },
        mounted() {
            this.request()
        }
    }

</script>

<style scoped>

</style>
